.grid-header {
    font-size: 14px;
  }
  grid-header {
    padding: 15px 20px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .03rem;
    background:#fbfcfd;
    border-left: 3px solid #696ffb;
  }
  .grid{
    margin-bottom: 0px ;
    border: 0px solid rgba(238, 238, 238, 0);
  }
  .left {
    max-width: 1900px ! important;
    padding-left: 15px;
    padding-right: 15px;
   }
  .right{
    
    padding-left: 15px;
    padding-right: 15px;
  
   }